@model DTO.FavDTO
<div class="box-body">

    <div class="form-group">
        <label>Title</label>
        @Html.TextBoxFor(x => x.Title, new
        {
            @class = "form-control",
                    @placeholder = "title"
        })
        @Html.ValidationMessageFor(x => x.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.LogoImage)
        <input type="file" name="LogoImage"
               accept="image/gif, image/jpeg, image/png, image/jpg"
               onchange="$('#LogoImage')[0].src = window.URL.createObjectURL(this.files[0])" />
        <br />
        <!--Model!=null - means we are on update page-->
        <!--else we are on add page (Model is null)-->
        @if (Model != null && Model.LogoImage != null)
        {
            <br />
            <img src="~/Areas/Admin/Content/FavImag/@Model.Logo" width="300" height="200" />
        }

        else
        {
            <img src="" width="300" height="200" id="LogoImage" />
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.FavImage)
        <input type="file" name="FavImage"
               accept="image/gif, image/jpeg, image/png, image/jpg"
               onchange="$('#FavImage')[0].src = window.URL.createObjectURL(this.files[0])" />
        <br />
        <!--Model!=null - means we are on update page-->
        <!--else we are on add page (Model is null)-->
        @if (Model != null && Model.FavImage != null)
        {
            <br />
            <img src="~/Areas/Admin/Content/FavImag/@Model.Fav" width="300" height="200" />
        }

        else
        {
            <img src="" width="300" height="200" id="FavImage" />
        }
    </div>



    <input type="number" name="MetaID" value="@Model.ID" hidden />

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>




</div>

